{
    "extends": "hapi",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-console": 0,
        "hapi/hapi-scope-start": 0,
        "hapi/no-arrowception": 0
    },
    "ecmaFeatures": {
        "jsx": true
    }
}
